<div class="navigation">
   <div class="logo">
      <a class="no-underline" href="#">
      R Social Media
      </a>
   </div>
   <div class="navigation-search-container">
      <i class="fa fa-search"></i>
      <input class="search-field" type="text" placeholder="Search">
      <div class="search-container">
         <div class="search-container-box">
            <div class="search-results">
            </div>
         </div>
      </div>
   </div>
   <div class="navigation-icons">
      <a href="#" target ="_blank" class="navigation-link">
      <i class="far fa-compass"></i>
      </a>
      <a href="#" class="navigation-link notifica">
         <i class="far fa-heart">
            <div class="notification-bubble-wrapper">
               <div class="notification-bubble">
                  <span class="notification-count">99</span>
               </div>
            </div>
         </i>
      </a>
      <a href="#" class="navigation-link notifica">
         <i class="far fa-comment">
            <div class="notification-bubble-wrapper">
               <div class="notification-bubble">
                  <span class="notification-count">99</span>
               </div>
            </div>
         </i>
      </a>
      <a href="#" class="navigation-link">
      <i class="far fa-user-circle"></i>
      </a>
      <p style="margin-left:6px;">{{ request.user.username }}</p>
      <a href="{% url 'accounts:logout' %}" id="signout" class="navigation-link">
      <i class="fas fa-sign-out-alt"></i>
      </a>
   </div>
</div>

