<div class="navigation">
   <div class="logo">
      <a class="no-underline" href="{% url 'home:home' %}">
         Resonegram
      </a>
   </div>
   <div class="navigation-icons">
      <a href="#" target ="_blank" class="navigation-link">
      <i class="far fa-compass"></i>
      </a>
      <a href="{% url 'accounts:follow_request_list' %}" class="navigation-link notifica">
         <i class="far fa-heart">
            <div class="notification-bubble-wrapper">
               {% if request.user.get_request_count > 0 %}
               <div class="" style="position:absolut;">
                  <span class="" style="position:absolute;
                                        top:5px; border-radius:50%;
                                        padding:4px 7px; background:red;
                                        font-size:9px; color:white">{{ request.user.get_request_count }}</span>
               </div>
               {% endif %}
            </div>
         </i>
      </a>
      <a href="{% url 'accounts:chat_list' %}" class="navigation-link notifica">
         <i class="far fa-comment">
            <div class="notification-bubble-wrapper">
               <div class="notification-bubble">
                  <span class="notification-count">99</span>
               </div>
            </div>
         </i>
      </a>
      <a href="{{ request.user.get_absolute_url }}" class="navigation-link">
      <i class="far fa-user-circle"></i>
      </a>
      <p style="margin-left:6px;">{{ request.user.username }}</p>
      <a href="{% url 'accounts:logout' %}" id="signout" class="navigation-link">
      <i class="fas fa-sign-out-alt"></i>
      </a>
   </div>
</div>

