body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: stretch;
    height: 100vh;
    font-family:Times New Roman;

}
/* ------------------------------ Start Navigation -----------------------------*/
.navigation{
    background-color:rgb(252, 254, 255);
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    float: left;
}
.navigation2{
    visibility: hidden;
}
.navigation-content{
    display: flexbox;
    flex-direction: column;
    width: 50%;
    height: 100%;

}

.navigation a{
    color: black;
    text-decoration: none;
}
.logo{
    margin-top: 21px;
    font-size: 23px;
    width: 117px;
    border-radius: 16px;
    color: aliceblue;
}


/* .logo a{
    animation-name: logo-animation;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes logo-animation {
    0% {
        text-shadow: 0 0 20px rgb(168, 117, 219);
    }
    25% {
        text-shadow: 0 0 20px rgb(85, 255, 255);

    }
    50% {
        text-shadow: 0 0 20px rgb(37, 255, 244);

    }
    75% {
        text-shadow: 0 0 20px rgb(37, 255, 244);

    }
    100% {
        text-shadow: 0 0 20px rgb(168, 117, 219);

    }
  } */

/* .logo a{
    color: aliceblue;
} */
.menubar{
    list-style-type: none;
    margin-top: 25vh;
    margin-left: 0;
}
.prof_image_nav{
    visibility: hidden;
    position:absolute;
}
.menubar li{
    margin-left: -50px;
    margin-bottom: 16px;
}
.menubar li a{
    padding: 8px 10px;
    border-radius: 13px;
    transition-duration:0.2s;

}
.menubar li a:hover{
    background-color: rgb(34, 34, 34);
    width: 10%;
    color: aliceblue;

}
.logout-settings{
    position: fixed;
    bottom: 0;
    list-style-type: none;
}
.logout-settings i{
    color: rgb(177, 177, 177);
}
.logout-settings li{
    margin-left: -50px;

    margin-bottom: 16px;
}
.logout-settings li a{
    padding: 8px 10px;
    border-radius: 13px;
    transition-duration:0.3s;

}
.logout-settings li a:hover{
    background-color: rgb(34, 34, 34);
    color: aliceblue;
}
li.logout a:hover{
    background-color: rgb(255, 4, 4);
    color: rgb(255, 255, 255);
}

@media only screen and (max-width: 1330px) {
    .navigation{
        background-color:rgb(252, 254, 255);
        width: 15%;
        display: flex;
        flex-direction: column;
        float: left;
    }
    .navigation-content{
        display: flexbox;
        flex-direction: column;
        width: 65%;
        height: 100%;

    }
}
@media only screen and (max-width: 1150px) {
    .navigation{
        visibility:collapse;
        width: 0%;
    }
    .navigation2{
        visibility: inherit;
        display: flex;
        flex-direction: column;
        align-items: center;
        float: left;
        width: 60px;
        height:100%;
        position: relative;
    }
    .navigation2 a{
        color: black;
        text-decoration: none;
    }
    .navigation-content2{
        display: flexbox;
        flex-direction: column;
        margin-left: 0;
        height: 100%;
    }
    .logo2{
        margin-top: 21px;
        font-size: 26px;
        align-items: center;
    }
    .logo2 a{
        align-items:center;
    }
    .menubar2{
        list-style-type: none;
        margin-top: 16vh;
        margin-left: 0;
    }
    .menubar2 div{
        font-size: 19px;
        padding-bottom: 28px;
        color: rgb(164, 164, 164);
    }
    .logout-settings2{
        position: fixed;
        bottom: 24px;
        width: auto;
        height: auto;
        float:inline-end;
    }
    .logout-settings2 i{
        color: rgb(164, 164, 164);
        padding-top: 16px;
        font-size: 19px;
    }
}
@media only screen and (max-width: 950px) {
    .prof_image_nav{
        visibility: inherit;
        position: relative;
    }
    .prof_image_nav img{
        height: 25px;
        width: 25px;
        border-radius: 50%;
    }
}
@media only screen and (max-width: 700px) {
    .navigation2{
        width: 48px;
    }
}
/* ------------------------------ End Navigation ----------------------------- */


/* --------------------------- Start center-content ----------------------------- */


.center-content{
    background-color:rgb(241, 241, 241);
    width: 55%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}
.search-form{
    padding: 0px;
    width: 95%;
    margin-left: 32px;
    margin-top: 21px;
}
.search-form input[type=text]{
    background-color:rgb(252, 254, 255);
    width: 84%;
    border: none;
    border-radius: 12px;
    height: 30px;
    padding: 0;
    box-sizing: border-box;
    padding: 12px 20px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    outline: none;
}
.search-form input[type=text]:focus {
    box-shadow: 0px 0px 16px rgba(129, 251, 255, 0.323);
}
.search-form input[type=submit]{
    font-size: 10px;
    background-color:rgb(252, 254, 255);
    margin-left: 0;
    width: 13%;
    height: 30px;
    border: none;
    border-radius: 12px;
    box-sizing: border-box;
    transition-duration: 0.2s;
}
.search-form input[type=submit]:hover{
    background-color: rgb(19, 19, 19);
    color: aliceblue;
}
.banner-and-posts{
    margin-top: 16px;
    width: 92.5%;
    margin-left: 16px;
    border-radius: 14px;
    overflow: scroll; /* Hide horizontal scrollbar */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

}
.banner-and-posts::-webkit-scrollbar{
    display: none;
}
.main-banner{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.main-banner img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    align-items: center;
    border-radius: 16px;
}
.landing-button{
    margin-top: -15vw;
    margin-left: 42px;
}
.landing-button h3{
    width: 50%;
    color: aliceblue;
    font-size: 2.5vw;
    text-shadow: 0 0 20px rgb(180, 180, 180);
}
.main-banner button{
    width: 10%;
    display: inline-block;
    margin-top: -1vw;
    margin-right: auto;
    margin-left: auto;
    color: rgb(255, 255, 255);
    width: 13%;
    height: 30px;
    border: none;
    background-color: rgba(255, 255, 255, 0.384);
    border-radius: 12px;
    box-sizing: border-box;
    transition-duration: 0.3s;
}
.main-banner button.btn-fill{
    background-color: rgba(255, 255, 255, 0.384);
    color: rgb(255, 255, 255);
    font-weight: 500;
}
.main-banner button:hover{
    box-shadow: 0px 0px 16px rgba(129, 251, 255, 0.323);

}
.posts-lists{
    width: 100%;
    margin-top: 60px;
}
.post-display{
    background-color:rgb(252, 254, 255);
    border-radius: 16px;
    width: 100%;
    min-height: 222px;
    margin-bottom: 20px;
    box-shadow: 0px 2px 3px rgba(77, 77, 77, 0.118);
}

.main-user-info{
    display:flex;
    align-items: center;
    height: 80px;
    padding-top: 4px;
    /* background-color: rgba(255, 199, 251, 0.329); */
    border-radius: 16px 16px 0 0;
    width: 100%;
    padding-bottom: 2px;
    border-bottom: solid 1px rgba(103, 103, 103, 0.145);
}
.main-user-info img{
    height: 60px;
    width: 60px;
    position: relative;
    border-radius: 50%;
    margin-left: 24px;
    display: inline;

}
.main-user-info p{
    margin-left: 16px;
    font-size: larger;
    display: inline;

}

.main-user-info a{
    margin-left: 16px;
    display: inline;

}

.post-caption{
    padding: 8px 24px;

}
.post-caption button{
    background:none;
    border: none;
    color: rgb(0, 200, 255);
    cursor: pointer;
}
.post-caption button:hover{
    text-decoration: underline;
}
.more-caption{
    display: none;
}
.post-image{
    display: flex;
    background-color: beige;
}
.post-image img{
    width: 100%;
    object-fit: cover;
    height: auto;
    max-height:500px;
    image-orientation: flip;
}

.like-comment-counts{
    align-items: center;
    padding: 8px 0px;
}
.like-comment-counts a{
    margin-left: 28px;
    color: rgb(46, 46, 46);
    text-decoration: none;
    font-size: 14px;
    margin-right: -18px;

}
.like-comment-save-share{
    height: 50px;
    border-radius: 0 0 16px 16px;
    border-top: solid 1px rgba(103, 103, 103, 0.145);
}
.like-comment-save-share .left-like{
    display: inline-block;
    float: left;
    height: 100%;
    width: 50%;
    justify-content: center;
    align-items: center;
    justify-items: center;

}
.like-comment-save-share .left-like a{
    margin-left: 28px;
    margin-top: 14px;
    font-size: larger;
    float:left;
    color: rgba(0, 0, 0, 0.862);
}
.like-comment-save-share .right-save{
    display: inline-block;
    float: right;
    height: 100%;
    width: 50%;
}
.like-comment-save-share .right-save a{
    margin-right: 28px;
    margin-top: 14px;
    font-size: larger;
    float:right;
    color: rgba(0, 0, 0, 0.862);

}


@media only screen and (max-width: 1330px) {
    .center-content{
        width: 56%;
    }
}
@media only screen and (max-width: 1150px) {
    .center-content{
        width: 74%;
    }
}
@media only screen and (max-width: 1150px) {
    .center-content{
        width: 74%;
    }
    .main-banner{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
}
@media only screen and (max-width: 950px) {
    .center-content{
        width: 100%;
    }
    .main-banner{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .search-form input[type=text]{
        background-color:rgb(252, 254, 255);
        width: 80%;
        border: none;
        border-radius: 12px;
        height: 30px;
        padding: 0;
        box-sizing: border-box;
        padding: 12px 20px;
        -webkit-transition: 0.3s;
        transition: 0.3s;
        outline: none;
    }
    .search-form input[type=submit]{
        font-size: 10px;
        background-color:rgb(252, 254, 255);
        margin-left: 0;
        width: 13%;
        height: 30px;
        border: none;
        border-radius: 12px;
        box-sizing: border-box;
        transition-duration: 0.2s;
    }
}
/* ---------------------------- End center-content -------------------------------*/
/* ---------------------------- Start Right-side -------------------------------*/



.profile-display{
    background-color:rgb(241, 241, 241);
    width: 25%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

}
.profile-s{
    display:flex;
    background-color:rgb(252, 254, 255);
    height: 340px;
    width: 88%;
    margin-top: 21px;
    padding-bottom: 16px;
    border-radius: 16px;
    align-items: center;
    flex-direction: column;

}
.profile-s a{
    position:relative;
    text-align:center;
}
.profile-s img{
    margin-top: 32px;
    width: 30%;
    height: auto;
    border-radius: 50%;
    /* border: solid;
    border-width: 3px; */
}
.username{
    margin-top: 8px;
    font-size: 28px;
    color: rgb(36, 36, 36);
}
.user-email{
    margin-top: 4px;
    font-size: 15px;
    color: rgb(165, 165, 165);

}
.count-f-f-p{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}
.count-f-f-p div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5px 0.6vw;
    width: 5vw;

}
.count-f-f-p div p{
    margin-bottom: -25px;
    padding: 4px;
    align-items: center;
    justify-content: center;
    color: rgb(29, 29, 29);
    border-radius: 7px;
}
.count-f-f-p div p.p2{
    align-content: center;
    padding: 8px;
    color: rgb(29, 29, 29);
}
.extra-button{
    display: flex;
    margin-top: 32px;
    background-color: rgb(241, 241, 241);
    color: rgb(15, 15, 15);
    width: 90%;
    border-radius: 12px;
    align-items: center;
    align-content: center;
    justify-content: center;
    transition-duration: 0.2s;
}
.extra-button a{
    color:black;
    text-decoration:none;
}
.extra-button:hover a{
    color: aliceblue;
}
.extra-button:hover{
    background-color: rgb(19, 19, 19);
}
.extra-content{
    padding: 0 8px;
    width: 88%;
    margin-top: 16px;
    border-radius: 16px;
    margin-bottom: 16px;
    overflow: scroll; /* Hide horizontal scrollbar */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.extra-content::-webkit-scrollbar {
    display: none;
}
.Recommended-user{
    background-color:rgb(252, 254, 255);
    border-radius: 16px;
    height: 60px;
    margin-bottom: 8px;
    margin-top: 8px;
    display:flex;
    align-items: center;
    padding-left: 16px;
    transition-duration: 0.3s;
    box-shadow: 0px 2px 3px rgba(77, 77, 77, 0.118);

}
.Recommended-user:hover{
    box-shadow: 0px 0px 16px rgba(129, 251, 255, 0.323);
}
.recomended-user-email{
    color: rgb(100, 100, 100);
    font-size: 11px;
    margin-top: -20px;
}
.user-info{
    margin-top: -8px;
}
.Recommended-user img{
    width: 40px;
    height: auto;
    border-radius: 50%;
    margin-right: 12px;
}
.recomended-username{
    font-size: 20px;
}
.follow-button{
    font-size: 13px;
    position: relative;
    padding: 8px 12px;
    border-radius: 16px;
    margin-right: 12px;
    margin-left: auto;
    transition-duration: 0.2s;
    border-width: 0.1px;
    border-color: rgba(0, 0, 0, 0.177);
    border-style: solid;
    color: rgb(0, 0, 0);
    cursor: pointer;
}
.follow-button:hover{
    background-color: rgba(129, 251, 255, 0.323);
    color: rgb(31, 31, 31);
}
@media only screen and (max-width: 1330px) {
    .profile-display{
        width: 29%;
    }
}
@media only screen and (max-width: 1150px) {
    .profile-display{
        width: 36%;
    }
}
@media only screen and (max-width: 950px) {
    .profile-display{
        width: 0%;
        visibility: hidden;
        position: absolute;
    }
}
/* ---------------------------- End Right-side -------------------------------*/
