<!DOCTYPE html>
{% load static %}
{% load socialaccount %}
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Transparent Login Form HTML CSS</title>
      <link rel="stylesheet" href="{% static 'css/signup_style.css' %}" type="text/css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
      <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.min.css">
   </head>
   <body>
      <div class="bg-img" style="background:url(' {% static 'images/bg.jpg' %}'); background-size: cover; ')">
    {% include 'include/messages.html' %}
         <div class="content">
            <header>Login</header>
            <form action="" method="POST" novalidate>
               {% csrf_token %}
               <div class="field">
                  <span class="fa fa-user"></span>
                  {{login_form.username}}
               </div>
               <div class="field space">
                  <span class="fa fa-lock"></span>
                  {{login_form.password}}
               </div>
               <div class="pass">
                  <a href="#">Forgot Password?</a>
               </div>
               <div class="field">
                  <input type="submit" value="LOGIN">
               </div>
            </form>
            <div class="login">
               Or login with
            </div>
            <div class="links">
               <div class="facebook" style="background:black; border:black;">
                  <i class="fab fa-github"><a href="{% provider_login_url 'github' %}"><span>Github</span></a></i>
               </div>
               <div class="instagram">
                  <a href="{% provider_login_url 'google' %}"><i class="fab fa-google"><span>Google</span></i></a>
               </div>
            </div>
            <div class="signup">
               Don't have account?
               <a href="{% url 'accounts:signup' %}">Signup Now</a>
            </div>
         </div>
      </div>
      <script>
         const pass_field = document.querySelector('.pass-key');
         const showBtn = document.querySelector('.show');
         showBtn.addEventListener('click', function(){
          if(pass_field.type === "password"){
            pass_field.type = "text";
            showBtn.textContent = "HIDE";
            showBtn.style.color = "#3498db";
          }else{
            pass_field.type = "password";
            showBtn.textContent = "SHOW";
            showBtn.style.color = "#222";
          }
         });
      </script>
       <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>

   </body>
</html>