{% extends 'new_base.html' %}
{% block center-content %}
{% load static %}
    <div class="center-content">
        <div class="profile-father-info">
            <div class="profile-image-follower-following-posts">
                <div>
                    {% if user.image %}
                        <img src="{{ user.image.url }}" alt="">
                    {% else %}
                        <img  src="{% static 'images/avatar.png' %}">
                    {% endif %}
                </div>
                <div class="profile-counter">
                    <div>
                        <a href="">Follower</a>
                        <a href="">{{ user.get_follower_count }}</a>
                    </div>
                    <div>
                        <a href="">Following</a>
                        <a href="">{{ user.get_following_count }}</a>
                    </div>
                    <div>
                        <a href="">Posts</a>
                        <a href="">{{ user.get_posts_count }}</a>
                    </div>
                </div>

            </div>

            <div class="profile-user-info">
                {% if user.first_name or user.last_name %}
                    <div class="profile-fullname">{{ user.first_name }} {{ user.last_name }}</div>
                {% else %}
                    <div class="profile-fullname">{{ user.username }}</div>
                {% endif %}
                <div class="profile-username"><span>Username :</span> {{ user.username }}</div>
                <div class="profile-email"><span>Email :</span> {{ user.email }}</div>
                {% if user.bio %}
                    <div class="profile-bio"><span>Bio :</span> {{ user.bio }}</div>
                {% endif %}
            </div>

            <div class="profile-follow-message-btn">
                <a class="profile-follow-button">Follow</a>
                <a class="profile-message-button">Message</a>
                <a class="profile-options-button"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></a>

            </div>

        </div>

        <div class="profile-father-posts">
            <div class="posts-headers">
                <h2>Posts</h2>
            </div>

            <div class="profile-posts-lists">
                    {% for post in user.get_posts %}
                        <div class="post-display">
                            <div class="main-user-info">

                                {% if user.image %}
                                    <img src="{{ user.image.url }}" alt="">
                                {% else %}
                                    <img  src="{% static 'images/avatar.png' %}">
                                {% endif %}

                                <p>{{ user.username }}</p>
                                <a class="follow-button">Follow</a>
                            </div>
                            <div class="post-caption">
                                <p>{{ post.body|slice:":300" }}
                                    {% if post.body|length >= 300 %}
                                        <span id="dots-{{post.id}}">...</span>
                                        <span class="more-caption" id="more-{{post.id}}">{{ post.body|slice:"300:" }}</span>
                                        <button onclick="myFunction({{post.id}})" id="myBtn-{{post.id}}">Read more</button></p>
                                    {% endif %}
                            </div>
                            <div class="post-image">
                                {% if post.image %}
                                     <img src="{{ post.image.url }}" alt="">
                                {% endif %}
                            </div>

                            <div class="like-comment-counts">
                                <a href="">2,730 likes</a>
                                <a href="">32 comments</a>
                                <a href="">3 hours ago</a>
                            </div>

                            <div class="like-comment-save-share">
                                <div class="left-like">
                                    <a href=""><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                                    <a href=""><i class="fa fa-comment-o" aria-hidden="true"></i></a>
                                    <!-- <a href=""><i class="fa fa-paper-plane-o" aria-hidden="true"></i></a> -->
                                </div>
                                <div class="right-save">
                                    <a href=""><i class="fa fa-bookmark-o" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    {% empty %}
                                    <p>post list is empty...</p>
                    {% endfor %}
            </div>

            <div class="activity-headers">
            </div>
        </div>
    </div>

{% endblock center-content %}