<!DOCTYPE html>
{% load static %}
{% load socialaccount %}
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Transparent Login Form HTML CSS</title>
      <link rel="stylesheet" href="{% static 'css/signup_style.css' %}" type="text/css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
   </head>
   <body>
      <div class="bg-img" style="background:url(' {% static 'images/bg.jpg' %}'); background-size: cover; ')">
         <div class="content">
            <header>Signup</header>
            <form action="" method="POST" novalidate>
               {% csrf_token %}
               <div class="field">
                  <span class="fa fa-user"></span>
                  {{signup_form.username}}
               </div>
               <div class="signup" style='background:red;'>
                  {% for error in signup_form.username.errors %}
                     {{error}}
                  {% endfor %}
               </div>
               <div class="field space">
                  <span class="fa fa-envelope"></span>
                  {{signup_form.email}}
               </div>
               <div class="signup" style='background:red;'>
                  {% for error in signup_form.email.errors %}
                     {{error}}
                  {% endfor %}
               </div>
               <div class="field space">
                  <span class="fa fa-lock"></span>
                  {{ signup_form.password1 }}
                  <span class="show">SHOW</span>
               </div>
               <div class="field space">
                  <span class="fa fa-lock"></span>
                  {{ signup_form.password2 }}
                  <span class="show">SHOW</span>
               </div>
               <div class="signup" style='background:red;'>
                  {% for error in signup_form.non_field_errors %}
                     {{error}}
                  {% endfor %}
               </div>
               <div class="field space">
                  <input type="submit" value="SIGNUP">
               </div>
            </form>
            <div class="login">
               Or login with
            </div>
            <div class="links">
               <div class="facebook">
                  <i class="fab fa-facebook-f"><span>Facebook</span></i>
               </div>
                  <div class="instagram">
                     <i class="fab fa-google"><a href="{% provider_login_url 'google' %}"><span>Google</span></a></i>
                  </div>

            </div>
            <div class="signup">
               Do you have an account?
               <a href="{% url 'accounts:login' %}">Login Now</a>
            </div>
         </div>
      </div>
      <script>
         const pass_field = document.querySelector('.pass-key');
         const showBtn = document.querySelector('.show');
         showBtn.addEventListener('click', function(){
          if(pass_field.type === "password"){
            pass_field.type = "text";
            showBtn.textContent = "HIDE";
            showBtn.style.color = "#3498db";
          }else{
            pass_field.type = "password";
            showBtn.textContent = "SHOW";
            showBtn.style.color = "#222";
          }
         });
      </script>
   </body>
</html>