{% extends 'new_base.html' %}
{% block center-content %}

    <div class="center-content">
        <div class="search-form">
            <form action="" method="">
                <input type="text" placeholder="Search anything ...">
                <input type="submit" value="Search">
            </form>
        </div>
        <div class="main-banner">
            <img src="mainbanner.jpg" alt="">
            <div class="landing-button">
                <h3>this is new blog... You should read</h3>
                <div>
                    <button class="btn-fill">Read</button>
                    <button class="btn-border">Save</button>
                </div>
            </div>
        </div>
        <div class="posts-lists">

            <p>Posts</p>
            <div class="post-display">
                <div class="main-user-info">
                    <img src="" alt="">
                    <p></p>
                    <a class="Follow"></a>
                </div>
                <div class="post-image">

                </div>
                <div class="post-caption">

                </div>
                <div class="like-comment">

                </div>
            </div>
        </div>
    </div>

{% endblock center-content %}