{% extends 'new_base.html' %}
{% block center-content %}
    {% load static %}
    <div class="center-content">
        <div class="search-form">
            <form action="" method="">
                <input type="text" placeholder="Search anything ...">
                <input type="submit" value="Search">
            </form>
        </div>
        <div class="banner-and-posts">
            <div class="main-banner">
                <img src="{% static 'images/mainbanner.jpg' %}" alt="">
                <div class="landing-button">
                    <h3>this is new blog... You should read</h3>
                    <div>
                        <button class="btn-fill">Read</button>
                        <button class="btn-border">Save</button>
                    </div>
                </div>
            </div>

            <div class="posts-lists">
                <div class="post-display">
                    <div class="main-user-info">
                        <img src="{% static 'images/sara_beaty.jpg' %}" alt="">
                        <p>Bahador eskandari</p>
                        <a class="follow-button">Follow</a>
                    </div>
                    <div class="post-caption">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                             Phasellus imperdiet, nulla et dictum interdum
                             , nisi lorem egestas vitae scel<span id="dots-1">...</span><span class="more-caption" id="more-1">
                                erisque enim ligula venenatis dolor. Maecenas nisl est, ultrices nec congue eget,
                                 auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Nunc sagittis dictum nisi,
                                  sed ullamcorper ipsum dignissim ac.
                                  In at libero sed nunc venenatis imperdiet sed
                                  ornare turpis. Donec vitae dui eget tellus gravida
                                   venenatis. Integer fringilla congue eros non fermentum.
                                   Sed dapibus pulvinar nibh tempor porta.</span><button onclick="myFunction(1)" id="myBtn-1">Read more</button></p>
                    </div>
                    <div class="post-image">
                        <!-- <img src="main-banner.avif" alt=""> -->
                    </div>

                    <div class="like-comment-counts">
                        <a href="">2,730 likes</a>
                        <a href="">32 comments</a>
                        <a href="">3 hours ago</a>

                    </div>

                    <div class="like-comment-save-share">
                        <div class="left-like">
                            <a href=""><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                            <a href=""><i class="fa fa-comment-o" aria-hidden="true"></i></a>
                            <!-- <a href=""><i class="fa fa-paper-plane-o" aria-hidden="true"></i></a> -->
                        </div>
                        <div class="right-save">
                            <a href=""><i class="fa fa-bookmark-o" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="post-display">
                <div class="main-user-info">
                    <img src="{% static 'images/sara_beaty.jpg' %}" alt="">
                    <p>Sara_beauty</p>
                    <a class="follow-button">Follow</a>
                </div>
                <div class="post-caption">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                         Phasellus imperdiet, nulla et dictum interdum
                         , nisi lorem egestas vitae scel<span id="dots-2">...</span><span class="more-caption" id="more-2">
                            erisque enim ligula venenatis dolor. Maecenas nisl est, ultrices nec congue eget,
                             auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Nunc sagittis dictum nisi,
                              sed ullamcorper ipsum dignissim ac.
                              In at libero sed nunc venenatis imperdiet sed
                              ornare turpis. Donec vitae dui eget tellus gravida
                               venenatis. Integer fringilla congue eros non fermentum.
                               Sed dapibus pulvinar nibh tempor porta.</span><button onclick="myFunction(2)" id="myBtn-2">Read more</button></p>
                </div>
                <div class="post-image">
                    <img src="main-banner.avif" alt="">
                </div>

                <div class="like-comment-counts">
                    <a href="">2,730 likes</a>
                    <a href="">32 comments</a>
                    <a href="">3 hours ago</a>

                </div>

                <div class="like-comment-save-share">
                    <div class="left-like">
                        <a href=""><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                        <a href=""><i class="fa fa-comment-o" aria-hidden="true"></i></a>
                        <!-- <a href=""><i class="fa fa-paper-plane-o" aria-hidden="true"></i></a> -->
                    </div>
                    <div class="right-save">
                        <a href=""><i class="fa fa-bookmark-o" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>

            <div class="post-display">
                <div class="main-user-info">
                    <img src="{% static 'images/sara_beaty.jpg' %}" alt="">
                    <p>Bahador eskandari</p>
                    <a class="follow-button">Follow</a>
                </div>
                <div class="post-caption">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                         Phasellus imperdiet, nulla et dictum interdum
                         , nisi lorem egestas vitae scel<span id="dots-3">...</span><span class="more-caption" id="more-3">
                            erisque enim ligula venenatis dolor. Maecenas nisl est, ultrices nec congue eget,
                             auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Nunc sagittis dictum nisi,
                              sed ullamcorper ipsum dignissim ac.
                              In at libero sed nunc venenatis imperdiet sed
                              ornare turpis. Donec vitae dui eget tellus gravida
                               venenatis. Integer fringilla congue eros non fermentum.
                               Sed dapibus pulvinar nibh tempor porta.</span><button onclick="myFunction(3)" id="myBtn-3">Read more</button></p>
                </div>
                <div class="post-image">
                    <!-- <img src="main-banner.avif" alt=""> -->
                </div>

                <div class="like-comment-counts">
                    <a href="">2,730 likes</a>
                    <a href="">32 comments</a>
                    <a href="">3 hours ago</a>

                </div>

                <div class="like-comment-save-share">
                    <div class="left-like">
                        <a href=""><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                        <a href=""><i class="fa fa-comment-o" aria-hidden="true"></i></a>
                        <!-- <a href=""><i class="fa fa-paper-plane-o" aria-hidden="true"></i></a> -->
                    </div>
                    <div class="right-save">
                        <a href=""><i class="fa fa-bookmark-o" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>

            <div class="post-display">
                <div class="main-user-info">
                    <img src="{% static 'images/sara_beaty.jpg' %}" alt="">
                    <p>Bahador eskandari</p>
                    <a class="follow-button">Follow</a>
                </div>
                <div class="post-caption">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                         Phasellus imperdiet, nulla et dictum interdum
                         , nisi lorem egestas vitae scel<span id="dots-3">...</span><span class="more-caption" id="more-3">
                            erisque enim ligula venenatis dolor. Maecenas nisl est, ultrices nec congue eget,
                             auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Nunc sagittis dictum nisi,
                              sed ullamcorper ipsum dignissim ac.
                              In at libero sed nunc venenatis imperdiet sed
                              ornare turpis. Donec vitae dui eget tellus gravida
                               venenatis. Integer fringilla congue eros non fermentum.
                               Sed dapibus pulvinar nibh tempor porta.</span><button onclick="myFunction(3)" id="myBtn-3">Read more</button></p>
                </div>
                <div class="post-image">
                    <!-- <img src="main-banner.avif" alt=""> -->
                </div>

                <div class="like-comment-counts">
                    <a href="">2,730 likes</a>
                    <a href="">32 comments</a>
                    <a href="">3 hours ago</a>

                </div>

                <div class="like-comment-save-share">
                    <div class="left-like">
                        <a href=""><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                        <a href=""><i class="fa fa-comment-o" aria-hidden="true"></i></a>
                        <!-- <a href=""><i class="fa fa-paper-plane-o" aria-hidden="true"></i></a> -->
                    </div>
                    <div class="right-save">
                        <a href=""><i class="fa fa-bookmark-o" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>

            <div class="post-display">
                <div class="main-user-info">
                    <img src="{% static 'images/sara_beaty.jpg' %}" alt="">
                    <p>Bahador eskandari</p>
                    <a class="follow-button">Follow</a>
                </div>
                <div class="post-caption">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                         Phasellus imperdiet, nulla et dictum interdum
                         , nisi lorem egestas vitae scel<span id="dots-3">...</span><span class="more-caption" id="more-3">
                            erisque enim ligula venenatis dolor. Maecenas nisl est, ultrices nec congue eget,
                             auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Nunc sagittis dictum nisi,
                              sed ullamcorper ipsum dignissim ac.
                              In at libero sed nunc venenatis imperdiet sed
                              ornare turpis. Donec vitae dui eget tellus gravida
                               venenatis. Integer fringilla congue eros non fermentum.
                               Sed dapibus pulvinar nibh tempor porta.</span><button onclick="myFunction(3)" id="myBtn-3">Read more</button></p>
                </div>
                <div class="post-image">
                    <!-- <img src="main-banner.avif" alt=""> -->
                </div>

                <div class="like-comment-counts">
                    <a href="">2,730 likes</a>
                    <a href="">32 comments</a>
                    <a href="">3 hours ago</a>

                </div>

                <div class="like-comment-save-share">
                    <div class="left-like">
                        <a href=""><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                        <a href=""><i class="fa fa-comment-o" aria-hidden="true"></i></a>
                        <!-- <a href=""><i class="fa fa-paper-plane-o" aria-hidden="true"></i></a> -->
                    </div>
                    <div class="right-save">
                        <a href=""><i class="fa fa-bookmark-o" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock center-content %}