<!doctype html>
{% load static %}
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700'
          rel='stylesheet' type='text/css'>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.min.css">
    <style>
        body{
          background: url('{% static 'images/homee.png' %}');
          height: 100vh;
          background-size: cover;
          background-position: center;
          }
    </style>
    <title>R-social-Media</title>

</head>
<body>
    {% include 'include/navbar.html' %}
    {% include 'include/messages.html' %}
    <div class="maincontent" >{% block main-content %} {% endblock main-content %}</div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous">
    </script>

    <script src="https://kit.fontawesome.com/24abe8aec2.js" crossorigin="anonymous"></script>
    <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <script>
        $(document).ready(function() {
            // messages timeout for 10 sec
            setTimeout(function() {
                $('.message').fadeOut('slow');
            }, 10000); // <-- time in milliseconds, 1000 =  1 sec

            // delete message
            $('.del-msg').live('click',function(){
                $('.del-msg').parent().attr('style', 'display:none;');
            })
        });
    </script>
    {% block scripts %}{% endblock scripts %}

</body>
</html>