<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/new_base.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/profile.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/edit_profile.css' %}" type="text/css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <title>Resonegram</title>
</head>
<body>

    <!-- ---------------------------------------------------------- -->

    <div class="navigation">
        <div class="navigation-content">
            <div class="logo animated flipInX">
                <a href="{% url 'home:home' %}">
                    Resonegram
                </a>
            </div>
            <ul class="menubar">
                <li><a href="{% url 'home:home' %}">Home</a></li>
                <li><a href="">Contacts</a></li>
                <li><a href="{% url 'posts:create_post' %}">Create Post</a></li>
                <li><a href="">Chat</a></li>
                <li><a href="">Notification</a></li>
            </ul>
            <ul class="logout-settings">
<!--                <li class="settings"><a href="#"><i class="fa fa-cog"></i> Settings</a></li>-->
                <li>
                  <div class="music-player">
                    <div class="player-controls">
                      <button class="previous-button"><i class="fa-solid fa-backward-step"></i></button>
                      <button class="play-pause-button">Play Music  <i class="fa-solid fa-music"></i></button>
                      <button class="next-button"><i class="fa-solid fa-forward-step"></i></button>
                    </div>
                  </div>
                </li>
                <audio id="background-music" src="" preload="auto"></audio>
                <li class="logout"><a href="{% url 'accounts:logout' %}"><i class="fa fa-sign-out-alt"></i> Logout</a></li>
            </ul>
        </div>
    </div>

    <div class="navigation2">
        <div class="navigation-content2">
            <div class="logo2">
                <a href="{% url 'home:home' %}">
                    R
                </a>
            </div>
            <div class="menubar2">
                <div class="prof_image_nav">
                    {% if request.user.image %}
                        <a href="{% url 'accounts:user_profile' request.user.id %}"><img src="{{ request.user.image.url }}" alt=""></a>
                    {% else %}
                        <a href=""><img src="{% static 'images/avatar.png' %}"></a>
                    {% endif %}
                </div>

                <div><a href="{% url 'home:home' %}"><i class="fa fa-home" aria-hidden="true"></i></a></div>
                <div><a href=""><i class="fa fa-users" aria-hidden="true"></i></a></div>
                <div><a href="{% url 'posts:create_post' %}"><i class="fa fa-plus" aria-hidden="true"></i></a></div>
                <div><a href="{% url 'accounts:chat_list' %}"><i class="fa fa-comments" aria-hidden="true"></i></a></div>
                <div><a href=""><i class="fa fa-bell" aria-hidden="true"></i></a></div>
            </div>
            <div class="logout-settings2">
<!--                <div><i class="fa fa-cog"></i></div>-->
                <div><a href="{% url 'accounts:logout' %}"><i class="fa fa-sign-out-alt"></i></a></div>
            </div>
        </div>
    </div>

    <!-- ---------------------------------------------------------- -->
    {% include 'include/messages.html' %}
    {% block center-content %}{% endblock center-content %}


    <!-- ---------------------------------------------------------- -->

    <div class="profile-display">
        <div class="profile-s">
            {% if request.user.image %}
            <a href="{% url 'accounts:user_profile' request.user.id %}"><img src="{{ request.user.image.url }}" alt=""></a>
            {% else %}
            <a href="{% url 'accounts:user_profile' request.user.id %}"><img src="{% static 'images/avatar.png' %}" alt=""></a>
            {% endif %}

            <div class="username">{{ request.user.username }}</div>
            <div class="user-email">{{ request.user.email }}</div>
            <div class="count-f-f-p">
                <div>
                    <p>{{ request.user.get_follower_count }}</p>
                    <p class="p2">Follower</p>
                </div>
                <div>
                    <p>{{ request.user.get_posts_count }}</p>
                    <p class="p2">Posts</p>
                </div>
                <div>
                    <p>{{ request.user.get_following_count }}</p>
                    <p class="p2">Following</p>
                </div>
            </div>
            <div class="extra-button">
                <a href="{% url 'accounts:edit_profile' request.user.id %}"><p><i class="fas fa-edit"></i> Edit profile</p></a>
            </div>
        </div>
        <div class="extra-content">
            {% for user in request.project_context.users %}
                {% if user != request.user %}
                    <div class="Recommended-user">
                        {% if user.image %}
                            <img class="user-image" src="{{ user.image.url }}" alt="">
                        {% else %}
                            <img src="{% static 'images/avatar.png' %}">
                        {% endif %}
                        <div class="user-info">
                            <p class="recomended-username">{{ user.username }}</p>
                            <p class="recomended-user-email">{{ user.email }}</p>
                        </div>
                        <a href="{% url 'accounts:user_profile' user.id %}" class="see-profile-button">See Profile</a>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <script src="https://kit.fontawesome.com/24abe8aec2.js" crossorigin="anonymous"></script>
    <script>
        function myFunction(postId) {
        var dots = document.getElementById("dots-" + postId);
        var moreText = document.getElementById("more-" + postId);
        var btnText = document.getElementById("myBtn-" + postId);

        if (dots.style.display === "none") {
            dots.style.display = "inline";
            btnText.innerHTML = "Read more";
            moreText.style.display = "none";
        } else {
            dots.style.display = "none";
            btnText.innerHTML = "Read less";
            moreText.style.display = "inline";
        }
        }

        </script>
          <script>
            document.addEventListener('DOMContentLoaded', function() {
              var audio = document.getElementById('background-music');
              var previousButton = document.querySelector('.previous-button');
              var playPauseButton = document.querySelector('.play-pause-button');
              var nextButton = document.querySelector('.next-button');
              var songs = [
                '{% static 'music/lofi2.mp3' %}',
                '{% static 'music/lofi3.mp3' %}',
              ];

              var currentSongIndex = 0;
              var isPlaying = false;

              function playCurrentSong() {
                audio.src = songs[currentSongIndex];
                audio.play();
                isPlaying = true;
                playPauseButton.textContent = 'Pause';
              }

              function pauseCurrentSong() {
                audio.pause();
                isPlaying = false;
                playPauseButton.textContent = 'Play';
              }

              previousButton.addEventListener('click', function() {
                currentSongIndex--;
                if (currentSongIndex < 0) {
                  currentSongIndex = songs.length - 1;
                }
                playCurrentSong();
              });

              playPauseButton.addEventListener('click', function() {
                if (isPlaying) {
                  pauseCurrentSong();
                } else {
                  playCurrentSong();
                }
              });

              nextButton.addEventListener('click', function() {
                currentSongIndex++;
                if (currentSongIndex >= songs.length) {
                  currentSongIndex = 0;
                }
                playCurrentSong();
              });

              audio.addEventListener('ended', function() {
                currentSongIndex++;
                if (currentSongIndex >= songs.length) {
                  currentSongIndex = 0;
                }
                playCurrentSong();
              });
            });
          </script>
</body>
</html>