{% extends 'new_base.html' %}
{% load static %}
{% block center-content %}
<div class="center-content">
    <div class="banner-and-posts" style="    margin-top:-40px;">
        <div class="posts-lists">
             <div class="post-display">
                <div class="main-user-info">

                    {% if post.user.image %}
                        <a href="{% url 'accounts:user_profile' post.user.id %}"><img src="{{ post.user.image.url }}" alt=""></a>
                    {% else %}
                        <a href="{% url 'accounts:user_profile' post.user.id %}"><img  src="{% static 'images/avatar.png' %}"></a>
                    {% endif %}

                    <a href="{% url 'accounts:user_profile' post.user.id %}"><p>{{ post.user.username }}</p></a>
    <!--                    {% if not is_following %}-->
    <!--                        <a class="follow-button" href="{% url 'accounts:follow' post.user.id %}">Follow</a>-->
    <!--                    {% else %}-->
    <!--                        <a class="follow-button" href="{% url 'accounts:unfollow' post.user.id %}">Unfollow</a>-->
    <!--                    {% endif %}-->

                </div>
                <div class="post-caption">
                    <p>{{ post.body|safe|slice:":300" }}{% if post.body|length >= 300 %}<span id="dots-{{post.id}}">...</span><span class="more-caption" id="more-{{post.id}}">{{ post.body|safe|slice:"300:" }}</span>
                            <button onclick="myFunction({{post.id}})" id="myBtn-{{post.id}}">Read more</button></p>
                        {% endif %}
                </div>
                <div class="post-image">
                    {% if post.image %}
                    <img src="{{ post.image.url }}">
                    {% endif %}
                </div>

                <div class="like-comment-counts">
                    <a href="">{{ post.like_count }} likes</a>
                    <a href="">{{ post.comment_count }} comments</a>
                    <a href="">{{ post.created_at|date:"D j M o"}}</a>
                </div>

                <div class="like-comment-save-share">
                    <div class="left-like">
                        {% if check_like %}
                            <a href="{% url 'posts:dislike_post' post.id %}"><i class="fa fa-heart" aria-hidden="true"></i></a>
                        {% else %}
                            <a href="{% url 'posts:like_post' post.id %}"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                        {% endif %}

                        <a href=""><i class="fa fa-comment-o" aria-hidden="true"></i></a>
                        <a href=""><i class="fa fa-paper-plane-o" aria-hidden="true"></i></a>
                    </div>
                    <div class="right-save">
                        <a href=""><i class="fa fa-bookmark-o" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock center-content %}
